dashboard/node-red/flows.json
[
    {
        "id": "8586878e.d2ede",
        "type": "function",
        "z": "1ec1b7b7.53bfe8",
        "name": "parse data string",
        "func": "let dataString = msg.payload;\n\nlet queryString = `insert into measurement_data values (${dataString.replace(/\\;/g , '),(')})`;\n\nlet msg1 = {\n    topic: queryString,\n    payload: ''\n};\n\nlet msg2 = {\n    topic: 'bikeDetected',\n    payload: parseDataString(dataString)\n};\n\nreturn [msg1, msg2];\n\nfunction parseDataString(dataString) {\n    let parsedData = [];\n    let dataSetArray = dataString.split(';');\n    dataSetArray.forEach( (dataset) => {\n        dataset = dataset.split(',');\n        parsedData.push({\n            timestamp: dataset[0],\n            velocity: dataset[1],\n            segment: dataset[2]\n        });\n    });\n    \n    return parsedData;\n}\n",
        "outputs": 2,
        "noerr": 0,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "98f1c186.86ecd8"
            ],
            [
                "61b727e3.d428f8"
            ]
        ]
    },
    {
        "id": "61b727e3.d428f8",
        "type": "uibuilder",
        "z": "1ec1b7b7.53bfe8",
        "name": "",
        "topic": "",
        "url": "dashboard",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "debugFE": true,
        "copyIndex": true,
        "x": 650,
        "y": 200,
        "wires": [
            [
                "f925271c.2fbf5",
                "6445ac27.43ed64"
            ],
            [
                "2331060c.ba4622"
            ]
        ]
    },
    {
        "id": "2753bc15.d71724",
        "type": "ParticleSSE in",
        "z": "1ec1b7b7.53bfe8",
        "pcloud": "d0151ed2.ae9ec",
        "evtname": "bike/data",
        "devid": "",
        "consolelog": false,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "8586878e.d2ede",
                "1c62499f.26cdc6"
            ]
        ]
    },
    {
        "id": "f925271c.2fbf5",
        "type": "debug",
        "z": "1ec1b7b7.53bfe8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 830,
        "y": 80,
        "wires": []
    },
    {
        "id": "6445ac27.43ed64",
        "type": "switch",
        "z": "1ec1b7b7.53bfe8",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "queryDatabase",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 160,
        "wires": [
            [
                "986d447a.8dc49"
            ]
        ]
    },
    {
        "id": "74af3a9a.634024",
        "type": "link in",
        "z": "1ec1b7b7.53bfe8",
        "name": "dashboard-in",
        "links": [
            "f5a9ba1f.ce66a8",
            "c85a1aa3.6451b8",
            "e2ee59c6.b2f648",
            "f43553f6.e740c8"
        ],
        "x": 495,
        "y": 240,
        "wires": [
            [
                "61b727e3.d428f8"
            ]
        ]
    },
    {
        "id": "986d447a.8dc49",
        "type": "function",
        "z": "1ec1b7b7.53bfe8",
        "name": "",
        "func": "let start = msg.payload.startDate;\nlet end = msg.payload.endDate;\n\nmsg.topic = `select * from measurement_data where timestamp > ${start} and timestamp < ${end}`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 160,
        "wires": [
            [
                "dde208e9.663bf"
            ]
        ]
    },
    {
        "id": "f5a9ba1f.ce66a8",
        "type": "link out",
        "z": "1ec1b7b7.53bfe8",
        "name": "",
        "links": [
            "74af3a9a.634024"
        ],
        "x": 1515,
        "y": 160,
        "wires": []
    },
    {
        "id": "a1db7223.a09de",
        "type": "change",
        "z": "1ec1b7b7.53bfe8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "queryResult",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 160,
        "wires": [
            [
                "f5a9ba1f.ce66a8"
            ]
        ]
    },
    {
        "id": "daccb722.653df",
        "type": "inject",
        "z": "1ec1b7b7.53bfe8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 60,
        "wires": [
            [
                "6a38958e.f645fc"
            ]
        ]
    },
    {
        "id": "6a38958e.f645fc",
        "type": "function",
        "z": "1ec1b7b7.53bfe8",
        "name": "generate dummy data",
        "func": "let data = '';\nlet max = randInt(0,6);\n\nfor (let i = 0; i < max; i++) {\n    data += `${msg.payload / 1000 + randInt(-2,2)},${Math.random()*randInt(1,5)},${randInt(0,4)}`;\n    \n    if (i + 1 != max) data += ';';\n}\n\nmsg.topic = 'bikeDetected';\nmsg.payload = data !== '' ? data : null;\n\n\nreturn msg;\n\nfunction randInt(min, max) {\n    return min + Math.floor((max - min) * Math.random());\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 120,
        "wires": [
            [
                "8586878e.d2ede"
            ]
        ]
    },
    {
        "id": "2331060c.ba4622",
        "type": "switch",
        "z": "1ec1b7b7.53bfe8",
        "name": "",
        "property": "uibuilderCtrl",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ready for content",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 240,
        "wires": [
            [
                "849999d0.501ad8"
            ]
        ]
    },
    {
        "id": "c85a1aa3.6451b8",
        "type": "link out",
        "z": "1ec1b7b7.53bfe8",
        "name": "",
        "links": [
            "74af3a9a.634024"
        ],
        "x": 1515,
        "y": 240,
        "wires": []
    },
    {
        "id": "95bd430d.2e29b8",
        "type": "function",
        "z": "1ec1b7b7.53bfe8",
        "name": "",
        "func": "let countObject = JSON.stringify(msg.payload[0]);\nlet payload = countObject.substring(countObject.indexOf(':') + 1, countObject.indexOf('}'));\n\nmsg = {\n    topic: 'bikeCount',\n    payload: payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1390,
        "y": 240,
        "wires": [
            [
                "c85a1aa3.6451b8"
            ]
        ]
    },
    {
        "id": "98f1c186.86ecd8",
        "type": "mysql",
        "z": "1ec1b7b7.53bfe8",
        "mydb": "9b7e8abb.d7022",
        "name": "insert data",
        "x": 650,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ae5c46d7.1ede78",
        "type": "mysql",
        "z": "1ec1b7b7.53bfe8",
        "mydb": "9b7e8abb.d7022",
        "name": "",
        "x": 1210,
        "y": 240,
        "wires": [
            [
                "95bd430d.2e29b8"
            ]
        ]
    },
    {
        "id": "849999d0.501ad8",
        "type": "change",
        "z": "1ec1b7b7.53bfe8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "select count(*) as count from measurement_data",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 240,
        "wires": [
            [
                "ae5c46d7.1ede78"
            ]
        ]
    },
    {
        "id": "dde208e9.663bf",
        "type": "mysql",
        "z": "1ec1b7b7.53bfe8",
        "mydb": "9b7e8abb.d7022",
        "name": "",
        "x": 1170,
        "y": 160,
        "wires": [
            [
                "a1db7223.a09de"
            ]
        ]
    },
    {
        "id": "1c62499f.26cdc6",
        "type": "debug",
        "z": "1ec1b7b7.53bfe8",
        "name": "log data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 380,
        "y": 240,
        "wires": []
    },
    {
        "id": "4e6a16f3.ed978",
        "type": "ParticleSSE in",
        "z": "1ec1b7b7.53bfe8",
        "pcloud": "d0151ed2.ae9ec",
        "evtname": "bike/status",
        "devid": "",
        "consolelog": false,
        "x": 200,
        "y": 320,
        "wires": [
            [
                "7d89cd61.a01874",
                "a37f2a55.e0aec8"
            ]
        ]
    },
    {
        "id": "7d89cd61.a01874",
        "type": "change",
        "z": "1ec1b7b7.53bfe8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "status",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "f43553f6.e740c8"
            ]
        ]
    },
    {
        "id": "f43553f6.e740c8",
        "type": "link out",
        "z": "1ec1b7b7.53bfe8",
        "name": "",
        "links": [
            "74af3a9a.634024"
        ],
        "x": 555,
        "y": 320,
        "wires": []
    },
    {
        "id": "a37f2a55.e0aec8",
        "type": "debug",
        "z": "1ec1b7b7.53bfe8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 380,
        "wires": []
    },
    {
        "id": "d0151ed2.ae9ec",
        "type": "particle-cloud",
        "z": "",
        "host": "https://api.particle.io",
        "port": "443",
        "accesstoken": "accesstoken",
        "name": "particle"
    },
    {
        "id": "9b7e8abb.d7022",
        "type": "MySQLdatabase",
        "z": "",
        "host": "database_ip",
        "port": "database_port",
        "db": "nodereddb",
        "tz": ""
    }
]